.pricing {
    background-color: #F5F5F5;
    width: 100%;
    height: 120vh;
}

.pricing h2 {
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
    font-size: 36px;
    color: #000;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.separator--pink {
    width: 170px;
    margin: auto;
    border: .5px solid #EC7979;
}

.pricing h5 {
    text-align: center;
    font-size: 18px;
    color: #86878B;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 40px auto 71px;
}

.pricing_sections {
    margin: auto;
    width: fit-content;
    height: 530px;
    margin-bottom: 50px;
}

.pricing_sections section {
    width: 370px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.pricing_sections section h4 {
    background-color: #333333;
    font-family: "Open Sans", sans-serif;
    color: #F5F5F5;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
    font-size: 24px;
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

.pricing_sections section h3 {
    height: 100px;
    background-color: #333333;
    color: #F5F5F5;
    text-align: center;
    line-height: 100px;
    border: 2px solid #F5F5F5;
    font-size: 36px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.pricing_sections section h5 {
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    color: #86878b;
    text-align: center;
    border: 2px solid #F5F5F5;
    background-color: #Fff;
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.pricing_sections h5:first-of-type {
    background-color: #333333;
}

.pricing_sections section:not(:nth-of-type(2)) {
    margin-top: 20px;
}

.pricing_sections section:nth-of-type(2) {
    margin: 0px 30px;
}

@media screen and (max-width: 992px) {
    .pricing {
        width: 96.8%;
    }

    .pricing h2 {
        height: 120px;
        font-size: 24px;
    }

    .separator--pink {
        width: 143px;
    }

    .pricing h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .pricing_sections {
        height: 450px;
        width: 94%;
        display: flex;
    }

    .pricing_sections section {
        width: 316px;

    }

    .pricing_sections section h4 {
        line-height: 53px;
    }

    .pricing_sections section h3 {
        line-height: 88px;

    }

    .pricing_sections section h5 {
        line-height: 21px;
    }

}

@media screen and (max-width: 320px) {
    .pricing {
       margin-top: 500px;
       height: 1850px;
    }

    .separator--pink {
        width: 134px;
    }

    .pricing h5 {
        font-size: 14px;
    }

    .pricing_sections {
        height: 400px;
        flex-wrap: wrap;
        width: 320px;
    }

    .pricing_sections section {
        width: 288px;
        margin-bottom: 27px;

    }
    .pricing_sections section:nth-of-type(2){
        width: 100%;
        margin-left: 0px;
    }

    .pricing_sections section h4 {
        line-height: 47px;
        font-size: 18px;
    }

    .pricing_sections section h3 {
        line-height: 78px;
        font-size: 24px;

    }

    .pricing_sections section h5 {
        line-height: 16px;
        font-size: 14px;
    }

}